[user]
	name = Glenn Van De Putte
	email = glenn.vandeputte@bagaar.be
[core]
	autocrlf = input
	excludesfile = /Users/gvdp/.globalgitignore
[init]
	templatedir = ~/.git-templates
	defaultBranch = main
[pull]
	rebase = true
